body {
	font-family: verdana;
	font-size: 20px;
	background-image: url("../../../media/img/paper.jpg")
}

h1 {
	color: red;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: yellow;
	text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
	color: green;
	text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
	color: blue;
	text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: indigo !important;
	text-align: left;
	color: GrayText;
    font-family: Arial, Helvetica, sans-serif;
}

.altheader1 
{
    color: orange !important;
	text-align: left;
	color: GrayText;
    font-family: Arial, Helvetica, sans-serif;
}

.altparagraph
{
    color: violet !important;
	text-align: left;
	color: GrayText;
    font-family: Arial, Helvetica, sans-serif;
}




.topnav {
  background-color: #333;
  overflow: hidden;
  border-style: solid;
  border-color: #ddd;
  text-align: center;
  color: red;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ac32bf;
  color: white;
}