body {
	font-family: verdana;
	font-size: 20px;
	background-image: url("../media/img/paper.jpg")
}

h1 {
	color: GrayText;
	text-align: left;
	font-family: verdana;
	font-size: 20px;
}

h3 {
	color: GrayText;
	text-align: left;
	font-family: verdana;
	font-size: 20px;
}


p {
	text-align: left;
	color: GrayText;
	font-family: verdana;
	font-size: 20px;
}

button{
	align-content: center;
	text-align: center;
	font-family: verdana;
	font-size: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  border-style: solid;
  border-color: #ddd;
  text-align: center;
  color: red;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ac32bf;
  color: white;
}
