
.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 5px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid #ddd;
}